@page "/admin/Bot-users"
@attribute [Authorize(Roles = "Sudo")]
@using ZiziBot.DataSource.MongoEf.Entities
@inherits WebComponentBase<BotUserViewModel>

<TitleControl Value="Bot Users"></TitleControl>

<RadzenRow>
    <RadzenColumn Size="12">
        <RadzenRow>
            @if (ViewModel.BotUsers.IsEmpty())
            {
                <h2>Loading Users..</h2>
            }
            <RadzenDataGrid AllowFiltering="true"
                            AllowColumnResize="true"
                            AllowAlternatingRows="true"
                            AllowPaging="true"
                            AllowSorting="true"
                            Density="Density.Compact"
                            FilterMode="FilterMode.SimpleWithMenu"
                            PageSize="20"
                            PagerHorizontalAlign="HorizontalAlign.Left"
                            ShowPagingSummary="true"
                            Responsive="true"
                            Data="@ViewModel.BotUsers"
                            TItem="BotUserEntity"
                            LogicalFilterOperator="LogicalFilterOperator.Or"
                            PageSizeOptions="ValueConst.PaginationSize"
                            Sort="() => { }">
                <HeaderTemplate>
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap">
                        <RadzenButton Style="padding: 2px;" Click="LoadData" Text="Refresh"></RadzenButton>
                    </RadzenStack>
                </HeaderTemplate>
                <Columns>
                    <RadzenDataGridColumn TItem="BotUserEntity" Property="UserId" Title="UserId" Frozen="true" Width="100px"/>
                    <RadzenDataGridColumn TItem="BotUserEntity" Property="FirstName" Title="First Name" Width="160px" Sortable="true"/>
                    <RadzenDataGridColumn TItem="BotUserEntity" Property="LastName" Title="Last Name" Width="160px" Sortable="true"/>
                    <RadzenDataGridColumn TItem="BotUserEntity" Property="Username" Title="UserName" Width="160px"/>
                    <RadzenDataGridColumn TItem="BotUserEntity" Property="LanguageCode" Title="Language Code" Width="160px"/>
                    <RadzenDataGridColumn TItem="BotUserEntity" Property="CreatedDate" Title="Created Date" Width="160px"/>
                    <RadzenDataGridColumn TItem="BotUserEntity" Property="UpdatedDate" Title="Updated Date" Width="160px"/>
                </Columns>
            </RadzenDataGrid>
        </RadzenRow>
    </RadzenColumn>
</RadzenRow>

@code {

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await LoadData();
    }

    private async Task LoadData()
    {
        await ViewModel!.GetUsers();
    }

}