<h1>Welcome Management</h1>
<p-toast></p-toast>

<div class="col-12">
    <div class="card">
        <p-table #dt1 [value]="listWelcomeMessage" [scrollable]="true" dataKey="id" [rows]="10" [loading]="loading" styleClass="p-datatable-gridlines" [paginator]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th class="w-0" pFrozenColumn hidden="hidden">Welcome Id</th>
                    <th style="min-width: 20rem">Text/Caption</th>
                    <th style="min-width: 5rem">Media Type</th>
                    <th style="min-width: 5rem">Updated Date</th>
                    <th style="min-width: 5rem">Status</th>
                    <th style="min-width: 8rem" pFrozenColumn [frozen]="true" alignFrozen="right">Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-welcome>
                <tr pSelectableRow="welcome">
                    <td pFrozenColumn hidden="hidden">{{welcome.id}}</td>
                    <td>{{welcome.text}}</td>
                    <td>{{welcome.dataTypeName}}</td>
                    <td>{{welcome.date | date: 'MM/dd/yyyy'}}</td>
                    <td>{{welcome.statusName}}</td>
                    <td class="text-center" pFrozenColumn [frozen]="true" alignFrozen="right">
                        <button type="button" class="m-1" pButton pRipple icon="pi pi-pencil" (click)="onOpenEditor(welcome)"></button>
                        <button type="button" class="m-1" pButton pRipple icon="pi pi-check" (click)="onSelectWelcome(welcome)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No data found.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">Loading data..</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>
