<h1 mat-dialog-title>
  Add Ban User
  <button mat-icon-button class="float-right top-3" matTooltip="Close" mat-dialog-close cdkFocusInitial>
    <mat-icon fontIcon="close"></mat-icon>
  </button>
</h1>
<div mat-dialog-content>
  <form [formGroup]="formOptions" novalidate>
    <mat-form-field appearance="fill">
      <mat-label>Telegram User Id</mat-label>
      <input formControlName="userId" type="number" matInput required>
      <div *ngIf="formOptions.controls['userId'].errors">UserId invalid</div>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Reason/Additional note</mat-label>
      <textarea formControlName="reason" matInput [rows]="4"></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="saveBan()">Save</button>
  <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>
</div>