root = true
# Editor configuration, see https://editorconfig.org

[*]
charset = utf-8
indent_style = space
trim_trailing_whitespace = true
end_of_line = lf

# ReSharper properties
resharper_csharp_empty_block_style = together
resharper_html_pi_attribute_style = first_attribute_on_single_line
resharper_wrap_before_primary_constructor_declaration_rpar = true
resharper_wrap_primary_constructor_parameters_style = chop_always

[*.cs]
indent_size = 4
csharp_new_line_before_open_brace = accessors, control_blocks, events, indexers, local_functions, methods, properties, types

[*.ts]
indent_size = 2
ij_typescript_use_double_quotes = false

[*.html]
indent_size = 2

[*.scss]
indent_size = 2

[*.md]
max_line_length = off
trim_trailing_whitespace = false
