[submodule "backend/lib/ZiziBot.TelegramBot"]
	path = backend/lib/ZiziBot.TelegramBot
	url = https://github.com/azhe403/ZiziBot.TelegramBot
[submodule "frontend/turborepo-zizibot-console"]
	path = frontend/turborepo-zizibot-console
	url = https://github.com/azhe403/turborepo-zizibot-console.git
