<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <packageSources>
    <add key="tgbots@azure.com" value="https://pkgs.dev.azure.com/tgbots/Telegram.Bot/_packaging/release/nuget/v3/index.json"/>
    <add key="nuget.voids.site" value="https://nuget.voids.site/v3/index.json"/>
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*"/>
    </packageSource>
    <packageSource key="tgbots@azure.com">
      <package pattern="Telegram.Bot*"/>
    </packageSource>
  </packageSourceMapping>
  <disabledPackageSources>
    <add key="tgbots@azure.com" value="true"/>
    <add key="nuget.voids.site" value="true"/>
  </disabledPackageSources>
</configuration>