<div *ngIf="listGroup.length==0 else displaySelector">
    <h6>Sedang mengambil daftar Grub anda..</h6>
    <p-progressBar mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
</div>

<ng-template #displaySelector>
    <div class="grid">
        <div class="col">
            <p-dropdown [options]="listGroup" class="w-full" (onChange)="onSelectChange($event)" [disabled]="disabled" optionLabel="chatTitle"></p-dropdown>
        </div>
        <div class="col-fixed">
            <p-button icon="pi pi-refresh" (click)="loadListGroup()" pTooltip="Segarkan" tooltipPosition="top"></p-button>
        </div>
    </div>
</ng-template>
