<div class="grid">
    <div class="col">
        <div *ngIf="selectorState==ConditionState.INIT">
            <h6>Sedang mengambil daftar Grub anda..</h6>
            <p-progressBar mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
        </div>

        <div *ngIf="selectorState==ConditionState.NONE">
            <h6>Tidak dapat menemukan Grub anda</h6>
        </div>

        <ng-template [ngIf]="selectorState==ConditionState.COMPLETE">
            <p-dropdown [options]="listGroup" class="w-full" (onChange)="onSelectChange($event)" [disabled]="disableSelector" optionLabel="chatTitle"></p-dropdown>
        </ng-template>
    </div>
    <div class="col-fixed" style="width:130px;">
        <p-button icon="pi pi-refresh" (click)="loadListGroup()" pTooltip="Segarkan" label="Refresh" iconPos="left" tooltipPosition="top"></p-button>
    </div>
</div>
