@page "/webhook"
@using System.Reactive.Threading.Tasks
@using ZiziBot.Common.Constants
@using ZiziBot.Common.Utils
@using ZiziBot.DataSource.MongoEf.Entities
@inherits WebComponentBase<WebhookViewModel>

<TitleControl Value="Webhook Chat"></TitleControl>

<Container Configuration="@ViewModel.Loading"/>

<RadzenRow>
    <RadzenColumn Size="12">
        <RadzenRow>
            @if (ViewModel.ListWebhookChat.IsEmpty())
            {
                <h2>Loading..</h2>
            }
            <RadzenDataGrid AllowFiltering="true"
                            AllowColumnResize="true"
                            AllowAlternatingRows="true"
                            AllowPaging="true"
                            AllowSorting="true"
                            Density="Density.Compact"
                            FilterMode="FilterMode.SimpleWithMenu"
                            PageSize="20"
                            PagerHorizontalAlign="HorizontalAlign.Left"
                            ShowPagingSummary="true"
                            Responsive="true"
                            Data="@ViewModel.ListWebhookChat"
                            TItem="WebhookChatEntity"
                            LoadData="@(arg => ViewModel.LoadDataCommand.Execute().ToTask())"
                            LogicalFilterOperator="LogicalFilterOperator.Or"
                            PageSizeOptions="ValueConst.PaginationSize"
                            Sort="() => { }">
                <HeaderTemplate>
                    <RadzenStack Orientation="Orientation.Horizontal"
                                 AlignItems="AlignItems.Center"
                                 Gap="1rem"
                                 Wrap="FlexWrap.Wrap">
                        <RadzenButton Style="padding: 2px;"
                                      Click="@(arg => ViewModel.LoadDataCommand.Execute().ToTask())"
                                      Text="Refresh">
                        </RadzenButton>
                    </RadzenStack>
                </HeaderTemplate>
                <Columns>
                    <RadzenDataGridColumn TItem="WebhookChatEntity"
                                          Property="ChatId"
                                          Title="Chat ID"
                                          Frozen="true"
                                          Width="100px"/>
                    <RadzenDataGridColumn TItem="WebhookChatEntity"
                                          Property="RouteId"
                                          Title="Route ID"
                                          Width="160px"
                                          Sortable="true"/>
                    <RadzenDataGridColumn TItem="WebhookChatEntity"
                                          Property="MessageThreadId"
                                          Title="Thread ID"
                                          Width="160px"
                                          Sortable="true"/>
                    <RadzenDataGridColumn TItem="WebhookChatEntity"
                                          Property="CreatedDate"
                                          Title="Created Date"
                                          Width="160px"/>
                    <RadzenDataGridColumn TItem="WebhookChatEntity"
                                          Property="UpdatedDate"
                                          Title="Updated Date"
                                          Width="160px"/>
                    <RadzenDataGridColumn TItem="WebhookChatEntity"
                                          Title="Action"
                                          Width="120px">
                        <Template Context="entity">
                            <ZiziViewButton Click="() => { }"></ZiziViewButton>
                            <ZiziEditButton Click="() => { }"></ZiziEditButton>
                            <ZiziDeleteButton Click="() => { }"></ZiziDeleteButton>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenRow>
    </RadzenColumn>
</RadzenRow>