<div *ngIf="showLoading; else displaySelector">
    <h3>Loading list Group..</h3>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<ng-template #displaySelector>
    <div class="flex">
        <mat-form-field appearance="fill" *ngIf="listGroup" class="grow">
            <mat-label>Select Group</mat-label>
            <mat-select [(ngModel)]="selected" (selectionChange)="onSelect(selected)">
                <mat-option *ngFor="let group of listGroup" [value]="group.chatId">
                    {{group.chatId}} - {{group.chatTitle}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button class="m-3" (click)="loadListGroup()">
            <mat-icon>refresh</mat-icon>
            Refresh
        </button>
    </div>
</ng-template>