<div class="grid p-fluid">

    <div class="col-12 pb-1 pt-0">
        <p-toast></p-toast>

        <p-toolbar>
            <div class="p-toolbar-group-start">
                <h1 class="text-xl sm:text-2xl md:text-4xl xl:text-6xl">Notes</h1>
            </div>
            <div class="p-toolbar-group-end">
                <p-button icon="pi pi-plus" class="mx-1" [routerLink]="['add']" styleClass="p-button-danger" pTooltip="Tambah" tooltipPosition="top"></p-button>
            </div>
        </p-toolbar>
    </div>

    <div class="col-12 py-1">
        <div class="card">
            <div>
                <p-splitter [panelSizes]="[40,60]" class="h-auto">
                    <ng-template pTemplate>
                        <app-group-selector class="w-full"
                                            (selectedChatId)="onSelectedChatId($event)"></app-group-selector>
                    </ng-template>
                    <ng-template pTemplate>
                        <div class="w-full scroll-auto">
                            <p-listbox class="w-full" [listStyle]="{ 'max-height': '500px' }"
                                       [options]="listNote"
                                       [(ngModel)]="selectedNote"
                                       (click)="onOpenEditor(selectedNote)"
                                       optionLabel="query"></p-listbox>
                        </div>
                    </ng-template>
                </p-splitter>
            </div>
        </div>
    </div>
</div>
