<mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="toggleDrawer()" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <button mat-button routerLink="/">Dashboard</button>
    <span class="example-spacer"></span>
    <button mat-raised-button [matMenuTriggerFor]="menu" class="user-icon" aria-label="Example icon-button with menu icon">
        <!--        <div>-->
        <!--        <img *ngIf="userImage" [ngSrc]="userImage" width="25" height="25" class="rounded-full w-8 h-8" alt="avatar">-->
        <!--            <p>{{userName}}</p>-->
        <mat-icon>account_circle</mat-icon>
        <span>{{userName}}</span>
        <!--        </div>-->
    </button>
    <span>
  </span>
</mat-toolbar>

<mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/angular">Angular</a>
    <a mat-menu-item *ngIf="sessionId" href="/hangfire-jobs">Hangfire</a>
    <a mat-menu-item href="/swagger">Swagger UI</a>
    <a mat-menu-item href="https://github.com/WinTenDev/ZiziBot-Engine" target="_blank" aria-label="ZiziBot-Engine source code">Source code</a>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="onLogout()">Logout</button>
</mat-menu>

<mat-drawer-container>
    <mat-drawer #drawer mode="side" style="width: 230px;">
        <mat-list>
            <a mat-list-item class="hover:bg-cyan-800 cursor-pointer" *ngFor="let menu of menus" [routerLink]="menu.url">{{menu.title}}</a>
        </mat-list>
    </mat-drawer>

    <mat-drawer-content>
        <div class="drawer-container">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>

</mat-drawer-container>