<div class="grid p-fluid">
    <p-toast></p-toast>
    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

    <div class="col-12 pb-1 pt-0 sticky top-0">
        <p-toolbar>
            <div class="p-toolbar-group-start">
                <h1 class="text-xl sm:text-2xl md:text-4xl xl:text-6xl">{{pageTitle}}</h1>
            </div>
            <div class="p-toolbar-group-end">
                <p-button icon="pi pi-arrow-left" class="mr-1" [routerLink]="['../']" styleClass="p-button-danger" pTooltip="Kembali" tooltipPosition="top"></p-button>
            </div>
        </p-toolbar>
    </div>

    <div class="col-12 py-1">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <div class="card">

                <h5>Chat Id</h5>
                <app-group-selector formControlName="chatId" [disableSelector]="welcomeId!=null"></app-group-selector>

                <h5>Welcome Text</h5>
                <textarea formControlName="text" rows="5" cols="30" placeholder="" pInputTextarea></textarea>

                <h5>Welcome Button</h5>
                <textarea formControlName="rawButton" rows="5" cols="30" placeholder="" pInputTextarea></textarea>

                <h5>Welcome Media</h5>
                <input formControlName="media" placeholder="" pInputText/>

                <h5>Media type</h5>
                <p-dropdown formControlName="dataType" [options]="mediaTypes" optionLabel="name"></p-dropdown>

                <div class="card p-3 mt-5 flex gap-3 justify-content-center sticky bottom-0">
                    <p-button label="Simpan" class="w-10rem" icon="pi pi-save" type="submit"></p-button>
                    <p-button label="Hapus" (onClick)="onDelete()" icon="pi pi-trash" styleClass="p-button-danger" class="w-10rem"></p-button>
                </div>
            </div>
        </form>
    </div>
</div>
