@inherits LayoutComponentBase
<RadzenDialog/>
<RadzenNotification/>
<RadzenTooltip/>
<RadzenContextMenu/>

<RadzenLayout style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body';">
    <RadzenHeader>
        <div class="rz-m-md-2">
            <RadzenMenu Click="OnParentClicked">
                <RadzenMenuItem Text="Home" Path="/" Icon="home"></RadzenMenuItem>
                <RadzenMenuItem Text="Group" Icon="group">
                    <RadzenMenuItem Text="Feature Management" Path="menu" Icon="line_weight"></RadzenMenuItem>
                    <RadzenMenuItem Text="Settings" Path="menu" Icon="line_weight"></RadzenMenuItem>
                    <RadzenMenuItem Text="Security" Path="menu" Icon="security"></RadzenMenuItem>
                    <RadzenMenuItem Text="Badword" Path="dialog" Icon="stop"></RadzenMenuItem>
                    <RadzenMenuItem Text="Group Staff" Path="notification" Icon="stop"></RadzenMenuItem>
                    <RadzenMenuItem Text="Night Mode" Path="notification" Icon="stop"></RadzenMenuItem>
                    <RadzenMenuItem Text="Thread Mapping" Path="textbox" Icon="map"></RadzenMenuItem>
                    <RadzenMenuItem Text="Welcome Message" Path="welcome-message" Icon="notifications_active"></RadzenMenuItem>
                </RadzenMenuItem>
                <RadzenMenuItem Text="Chat" Icon="chat">
                    <RadzenMenuItem Text="Notes" Path="notes" Icon="notes"></RadzenMenuItem>
                    <RadzenMenuItem Text="Cities" Path="cities" Icon="map"></RadzenMenuItem>
                    <RadzenMenuItem Text="RSS" Path="rss" Icon="rss_feed"></RadzenMenuItem>
                    <RadzenMenuItem Text="TextArea" Path="textarea" Icon="description"></RadzenMenuItem>
                </RadzenMenuItem>
                <RadzenMenuItem Text="Additional" Icon="add">
                    <RadzenMenuItem Text="Check AWB" Icon="check"></RadzenMenuItem>
                </RadzenMenuItem>
                <RadzenMenuItem Text="Administrator" Icon="admin_panel_settings">
                    <RadzenMenuItem Text="App Settings" Path="" Icon="settings"></RadzenMenuItem>
                    <RadzenMenuItem Text="Commands Management" Path="commands-management" Icon="line_weight"></RadzenMenuItem>
                    <RadzenMenuItem Text="Hangfire Dashboard" Path="/hangfire-jobs" Icon="area_chart"></RadzenMenuItem>
                    <RadzenMenuItem Text="Log Viewer" Path="/log-viewer" Icon="text_snippet"></RadzenMenuItem>
                </RadzenMenuItem>
                <RadzenMenuItem Text="Help" Icon="help">
                    <RadzenMenuItem Text="About" Path="about" Icon="info"></RadzenMenuItem>
                    <RadzenMenuItem Text="Feedback" Path="about" Icon="forum"></RadzenMenuItem>
                </RadzenMenuItem>
            </RadzenMenu>
        </div>
    </RadzenHeader>
    <RadzenBody Expanded="@sidebarExpanded">
        <RadzenRow class="rz-mx-auto rz-px-4 rz-pt-2 rz-pt-md-4 rz-pt-lg-6 rz-pt-xl-12 rz-pb-2 rz-pb-lg-12" Style="max-width: 1440px;">
            <RadzenColumn Size="12">
                @Body
            </RadzenColumn>
        </RadzenRow>
        <RadzenFooter>
            <RadzenStack AlignItems="AlignItems.Center" Gap="0">
                <RadzenText Text="ZiziBot Console v1.0.0" TextStyle="TextStyle.Caption" style="color: var(--rz-text-disabled-color);" TagName="TagName.P" TextAlign="TextAlign.Center"/>
                <RadzenText Text="Ⓒ 2017 - 2023 WinTenDev" TextStyle="TextStyle.Caption" class="rz-mb-0" style="color: var(--rz-text-disabled-color);" TagName="TagName.P" TextAlign="TextAlign.Center"/>
            </RadzenStack>
        </RadzenFooter>
    </RadzenBody>

    @* <RadzenRow JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Center" Gap="0"> *@
    @* <RadzenColumn Size="5"> *@
    @* <RadzenSidebarToggle Click="@SidebarToggleClick"></RadzenSidebarToggle> *@
    @* </RadzenColumn> *@
    @* <RadzenColumn Size="7"> *@
    @* <RadzenStack AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End"></RadzenStack> *@
    @* </RadzenColumn> *@
    @* </RadzenRow> *@

    @* <RadzenSidebar Expanded="@sidebarExpanded" style="z-index: 2"> *@
    @*     <RadzenStack AlignItems="Radzen.AlignItems.Center" class="rz-py-4 rz-py-lg-6" Style="padding: var(--rz-panel-menu-item-padding); border-bottom: var(--rz-panel-menu-item-border);"> *@
    @*         <RadzenImage Path="images/logo.png" style="width: 48px; height: 48px;"></RadzenImage> *@
    @*         <RadzenText Text="Hello" TextStyle="Radzen.Blazor.TextStyle.Subtitle1" class="rz-mb-0" style="color: var(--rz-primary-light);"/> *@
    @*     </RadzenStack> *@
    @*     <RadzenPanelMenu Multiple="true"> *@
    @*         <RadzenPanelMenuItem Text="Home" Path=""/> *@
    @*         <RadzenPanelMenuItem Text="Notes" Path="notes"/> *@
    @*         <RadzenPanelMenuItem Text="Welcome Message" Path="welcome-message"/> *@
    @*         <RadzenPanelMenuItem Text="Mirror Subscription" Path="mirror-subscription"/> *@
    @*         <RadzenPanelMenuItem Text="User" Path="user"/> *@
    @*         <RadzenPanelMenuItem Text="Global Ban" Path="gban"/> *@
    @*         <RadzenPanelMenuItem Text="Log Viewer" Path="log-viewer"/> *@
    @*         <RadzenPanelMenuItem Text="Hangfire" Path="/hangfire-jobs"></RadzenPanelMenuItem> *@
    @*         <RadzenPanelMenuItem Text="Console Settings" Path="settings"/> *@
    @*         <RadzenPanelMenuItem Text="About" Path="about"></RadzenPanelMenuItem> *@
    @*     </RadzenPanelMenu> *@
    @*     <RadzenStack AlignItems="Radzen.AlignItems.Center" Gap="0" class="rz-py-4 rz-py-lg-6" Style="padding: var(--rz-panel-menu-item-padding);"> *@
    @*         <RadzenText Text="ZiziBot Console v1.0.0" TextStyle="Radzen.Blazor.TextStyle.Caption" style="color: var(--rz-text-disabled-color);" TagName="Radzen.Blazor.TagName.P" TextAlign="Radzen.TextAlign.Center"/> *@
    @*         <RadzenText Text="Ⓒ 2017 - 2023" TextStyle="Radzen.Blazor.TextStyle.Caption" class="rz-mb-0" style="color: var(--rz-text-disabled-color);" TagName="Radzen.Blazor.TagName.P" TextAlign="Radzen.TextAlign.Center"/> *@
    @*     </RadzenStack> *@
    @* </RadzenSidebar> *@
</RadzenLayout>