<h1 class="text-xl sm:text-2xl md:text-4xl xl:text-6xl">Log Viewer</h1>
<h5>{{status}}</h5>
<h6>Total: {{filteredLogs.length}}/{{logsAll.length}} item(s)</h6>
<div class="p-inputgroup">
    <input (ngModelChange)="onSearchLog()" [(ngModel)]="searchLog" pInputText placeholder="Search.." type="text"/>
</div>
<p-table [columns]="cols" [value]="filteredLogs" styleClass="p-datatable-sm" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{ col.header }}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{ rowData[col.field] }}
            </td>
        </tr>
    </ng-template>
</p-table>
