@using Microsoft.EntityFrameworkCore
@using ZiziBot.Database.MongoDb
@using ZiziBot.Database.MongoDb.Entities
<h3>FeatureRolloutCategory</h3>

<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced"
                AllowGrouping="true" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left"
                TItem="FeatureRolloutCategoryEntity" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" ShowPagingSummary="true"
                Data="Data">
    <Columns>
        <RadzenDataGridColumn Property="Id" Title="Id"></RadzenDataGridColumn>
        <RadzenDataGridColumn Property="Name" Title="Name"></RadzenDataGridColumn>
        <RadzenDataGridColumn Property="CreatedDate" Title="Created Date"></RadzenDataGridColumn>
        <RadzenDataGridColumn Property="UpdatedDate" Title="Updated Date"></RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code
{
List<FeatureRolloutCategoryEntity> Data { get; set; }

[Inject]
public MongoDbContext MongoDbContext { get; set; }

protected override async Task OnInitializedAsync()
{
    Data = await MongoDbContext.FeatureRolloutCategory
.AsNoTracking()
.ToListAsync();
}
}