<h3 class="mat-title">FedBan Management</h3>
<section>
  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="onRefresh()">Refresh</button>
    <button mat-raised-button color="primary" (click)="showAddUserDialog()">Add</button>
    <button mat-raised-button class="accent-red-700" (click)="showDeleteDialog()">Delete</button>
    <button mat-raised-button class="accent-red-700" (click)="restoreDelete()">Restore</button>
  </div>
</section>
<div class="2xl:container w-full h-5/6 px-1">
  <ag-grid-angular
    class="ag-theme-balham-dark h-full w-full"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData$ | async"
    [rowSelection]="'multiple'"
    [animateRows]="true"
    (gridReady)="onGridReady($event)"
    (cellClicked)="onCellClicked($event)">
  </ag-grid-angular>
</div>