.example-spacer {
  flex: 1 1 auto;
}

.toolbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
  z-index: 2;
}

mat-drawer-container {
  position: relative;
  z-index: 1;
  display: block;
  height:calc(100% - 60px);
}

mat-drawer-content {
  display: flex;
}

mat-drawer {
  width: 200px;
}

.drawer-container {
  margin-left: 10px;
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.user-icon {
  width: unset;
}
